/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        backspace_delete: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        ctrl_c: ctrl_c {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LEFT_SHIFT &kp C>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT &kp C>;

            label = "CTRL_C";
        };

        ctrl_v: ctrl_v {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LEFT_SHIFT &kp V>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT &kp V>;

            label = "CTRL_V";
        };

        ctrl_b: ctrl_b {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LEFT_SHIFT &kp B>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT &kp B>;

            label = "CTRL_B";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alphabet_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&mt RIGHT_PARENTHESIS RIGHT_BRACKET  &kp Q  &kp W  &kp E                 &kp R             &kp T               &none  &none  &kp Y        &kp U            &kp I         &kp O    &kp P     &mt LEFT_PARENTHESIS LEFT_BRACKET
&kp EQUAL                            &kp A  &kp S  &kp D                 &kp F             &kp G               &none  &none  &kp H        &kp J            &kp K         &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT                       &kp Z  &kp X  &kp C                 &kp V             &kp B                             &kp N        &kp M            &kp COMMA     &kp DOT  &kp FSLH  &mt RIGHT_SHIFT BACKSLASH
                                                   &mt LEFT_CONTROL ESC  &mt LEFT_ALT TAB  &mt LEFT_GUI ENTER                &lt 1 SPACE  &lt 2 BACKSPACE  &lt 3 DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        number_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &none  &none  &kp HOME      &kp PAGE_DOWN      &kp PAGE_UP      &kp END             &kp INSERT  &trans
&trans  &trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans  &none  &none  &kp LEFT      &kp DOWN           &kp UP           &kp RIGHT           &trans      &trans
&trans  &trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans                &kp C_REWIND  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_FAST_FORWARD  &kp K_MUTE  &trans
                              &trans        &trans        &trans                &trans        &trans             &trans
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";
            bindings = <
&kp TILDE      &kp LEFT_PARENTHESIS  &kp EXCLAMATION  &kp AT_SIGN   &kp HASH   &kp RIGHT_PARENTHESIS  &trans  &trans  &kp GRAVE  &none   &none   &none  &none  &none
&kp EQUAL      &kp LEFT_BRACKET      &kp DOLLAR       &kp PERCENT   &kp CARET  &kp RIGHT_BRACKET      &trans  &trans  &kp PLUS   &none   &none   &none  &none  &none
&kp BACKSLASH  &kp LEFT_BRACE        &kp AMPERSAND    &kp ASTERISK  &kp MINUS  &kp RIGHT_BRACE                        &kp PIPE   &none   &none   &none  &none  &none
                                                      &trans        &trans     &trans                                 &trans     &trans  &trans
            >;
        };

        function_layer {
            display-name = "FUNCTION";
            bindings = <
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                   &trans  &trans  &trans
            >;
        };
    };
};
